
html {
  scroll-behavior: smooth;
}

body {
  background: #2a3892;
  font-family: "Baloo Tamma 2", cursive;
}


.m-heading {
  font-family: "Roboto Slab", serif;
}


.navigation-link {
  border: 2px solid transparent;
}

.navigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #aa8106;
  transition: 0.5s ease;
}


.main-container {
  height: 100vh;
}


.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main_row h1 {
  font-size: 5rem;
}


.main_row img {
  width: auto;
  height: 100vh;
}


.about {
  background: #545a88;
  border-radius: 0.5rem;
}

.card {
  border-bottom: 8px solid #8d721f;
}


#social-media {
  background: #5b629b;
}

.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #af8814;
  border-radius: 0.5rem;
}
  